/* Import CSS (this should all be added to same file in production) */
@import url('./fonts.css');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --cream: rgba(256, 236, 220, 1);
	--orange: rgba(200, 52, 4, 1);
	--black: rgba(0, 0, 0, 1);
	--brown: rgba(40, 36, 36, 1);
	--cantaloupe: rgba(256, 196, 164, 1);
	--apricot: rgba(256, 172, 132, 1);
	--peach: rgba(256, 220, 204, 1);
	--light-peach: rgba(256, 232, 216, 1);
}

/* General Styling */
* {
	box-sizing: border-box;
	color: var(--yellow1)
}

html {
  background-color: var(--cream);
}

body {
  background-color: var(--cream);
}

/* Main Styling */
#main-container {
	width: 100%;
	background-color: var(--cream);
	margin-bottom: 6.5rem; /* Margin for footer */
}

/* Header Styling */
header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	width: 100%;
	height: 20vh;
}

header div {
	height: 100%;
}

header .menu-icon-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header .title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header .title h1 {
	color: var(--brown);
	font-size: 5rem;
	font-family: 'BattleLines', sans-serif;
}

/* Social Icons Styling */
.social-icon-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.social-icons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 2rem;
	margin-left: 3rem;
}

.social-icons svg {
	width: 2rem;
	height: 2rem;
	margin-right: 0.75rem;
	fill: var(--brown);
	cursor: pointer;
}

/* Menu Icon Styling */
#menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.9rem;
  width: 1.9rem;
	margin-right: 3rem;
	cursor: pointer;
	z-index: 3;
}

#menu-toggle .menu-bar {
  height: 4px;
  width: 100%;
  background-color: var(--brown);
  transition: all 500ms ease-in-out;
}

#menu-toggle .menu-selected {
  transition: all 500ms ease-in-out;
  background-color: var(--cream);
  transform-origin: top left;
}

#menu-toggle .menu-selected:nth-of-type(1) {
  transition: all 500ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 2.45rem;
}

#menu-toggle .menu-selected:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

#menu-toggle .menu-selected:nth-of-type(3) {
  transition: all 500ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 2.45rem;
}

/* Images Styling */
#top-image-container {
	width: 100%;
	height: 80vh;
}

#top-image-container img {
	width: 100%;
	height: auto;
}

/* Booking Styling */
#booking-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.booking-left,
.booking-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 4rem 0rem;
}

.booking-left h3,
.booking-right h3 {
	font-size: 2rem;
	font-family: 'BattleLines', sans-serif;
	margin-bottom: 2rem;
}

.booking-left iframe,
.booking-right iframe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 285px;
	height: 425px;
}

.booking-left {
	background-color: var(--black);
}

.booking-left h3 {
	color: var(--cream);
}

.booking-right {
	background-color: var(--cream);
}

.booking-right h3 {
	color: var(--black);
}

/* Group Booking Styling */
#group-booking-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 4rem 0rem;
	background-color: var(--brown);
}

.group-booking-header {
	display: grid;
	place-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.group-booking-header h3 {
	color: var(--cream);
	font-size: 2rem;
	font-family: 'BattleLines', sans-serif;
}

.group-booking-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.group-booking-main > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.group-booking-main iframe {
	width: 285px;
	height: 425px;
}

.group-booking-button {
	color: var(--brown);
	font-size: 0.9rem;
	font-family: 'Grotesk', sans-serif;
	padding: 0.75rem 1rem;
	background-color: var(--cream);
	cursor: pointer;
}

.group-booking-button:hover {
	color: var(--orange);
	padding: 0.75rem 1rem;
	background-color: var(--cream);
}

.group-booking-description {
	font-size: 1rem;
	font-family: 'Grotesk', sans-serif;
	word-spacing: 0.2rem;
	line-height: 1.25rem;
	color: var(--cream);
	text-align: center;
	max-width: 325px;
	margin: 1.5rem 0rem;
}

/* Our Supplies Container */
#suppliers-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	background-color: var(--cream);
}

.suppliers-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}

.suppliers-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--black);
	font-size: 5rem;
	font-family: 'BattleLines', sans-serif;
}

.suppliers-description {
	color: var(--black);
	font-size: 1rem;
	word-spacing: 0.2rem;
	line-height: 1.25rem;
	text-align: center;
	font-family: 'Grotesk', sans-serif;
	width: 50%;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.suppliers-button {
	color: var(--black);
	font-size: 1.25rem;
	font-family: 'Grotesk', sans-serif;
	padding: 1rem 3rem;
	border: 0.25rem solid var(--black);
	cursor: pointer;
}

.suppliers-button:hover {
	color: var(--cream);
	background-color: var(--orange);
	border: 0.25rem solid var(--orange);
	transition: all 0.25s ease-in-out;
}

.suppliers-image img {
	width: 100%;
	height: 100%;
}

/* Gallery Styling */
#gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5rem;
	width: 100%;
	padding: 4rem;
	background-color: var(--black);
}

#gallery-container > div img {
	width: 100%;
	height: 100%;
}

/* Quote Styling */
#quote-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5rem;
	padding-top: 1rem;
	background-color: var(--black);
}

.quote-title {
	font-size: 2.2rem;
	color: var(--cream);
	font-family: 'BattleLines', sans-serif;
}

.quote-description {
	font-size: 1.1rem;
	color: var(--cream);
	word-spacing: 0.2rem;
	line-height: 2rem;
	text-align: center;
	font-family: 'Grotesk', sans-serif;
	width: 60%;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.quote-name {
	font-size: 2.2rem;
	color: var(--cream);
	font-family: 'BattleLines', sans-serif;
}

/* Instagram Styling */
#instagram-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--cream);
	width: 100%;
	height: 50vh;
	padding: 2rem 3rem;
}

.instagram-username {
	font-size: 2rem;
	color: var(--black);
	font-family: 'BattleLines', sans-serif;
}

/* Gift Card Container */
#gift-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--cream);
	width: 100%;
	padding: 2rem 3rem;
}

#gift-card-container h3 {
	font-size: 2rem;
	color: var(--black);
	font-family: 'BattleLines', sans-serif;
}

#gift-card-container span {
	font-size: 1rem;
	color: var(--black);
	font-family: 'Grotesk', sans-serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#gift-card-container iframe {
	width: 350px;
	height: 600px;
}

/* Hiring Container */
#hiring-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0rem 3rem;
	background-color: var(--cantaloupe)
}

#hiring-container h2 {
	color: var(--apricot);
	font-size: 7rem;
	font-weight: 900;
	text-transform: uppercase;
	font-family: sans-serif;
	margin-top: 12rem;
	margin-bottom: 6rem;
}

#hiring-container span {
	color: var(--brown);
	font-size: 1rem;
	font-family: 'Grotesk', sans-serif;
	padding: 1rem 4rem;
	margin-bottom: 10rem;
	border: 0.1rem solid var(--brown);
	background-color: var(--cream);
	cursor: pointer;
}

#hiring-container span:hover {
	color: var(--cream);
	border: 0.1rem solid var(--brown);
	background-color: var(--brown);
	transition: all 0.25s ease-in-out;
}

/* FAQ Styling */
#faq-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 120vh;
	padding-bottom: 7.5rem;
}

.faq-title {
	margin-top: 3rem;
}

.faq-title h2 {
	font-size: 5rem;
	color: var(--brown);
	font-weight: 700;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	font-family: 'QuanTu', sans-serif;
}

.faq-options {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 65vw;
	margin: 1.5rem 0rem;
}

.faq-options span {
	font-size: 1.1rem;
	color: var(--brown);
	font-family: 'Grotesk', sans-serif;
	margin-right: 1.5rem;
	cursor: pointer;
}

.faq-options .active {
	color: var(--apricot);
}

.faq-dietary-container,
.faq-bookings-container,
.faq-general-container {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	width: 65vw;
}

.faq-dietary-container.active,
.faq-bookings-container.active,
.faq-general-container.active {
	display: flex;
}

.faq-outer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.faq-outer.active{
	margin-bottom: 0rem;
}

.faq-inner {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 6fr;
	width: 100%;
	height: 6rem;
	cursor: pointer;
}


.faq-number {
	display: grid;
	place-items: center;
	padding: 1rem 2rem;
	background-color: var(--peach);
}

.faq-number span {
	font-size: 3rem;
	color: var(--brown);
	font-family: 'Grotesk', sans-serif;
}

.faq-inner:hover .faq-number {
	background-color: var(--apricot);
	transition: all 0.1s ease-in-out;
}

.faq-question {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2rem;
	background-color: var(--light-peach);
}

.faq-question span {
	font-size: 1.5rem;
	color: var(--brown);
	font-family: 'Grotesk', sans-serif;
}

.faq-description {
	display: none;
	padding: 2rem 3rem;
}

.faq-description span {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--brown);
	font-family: 'Grotesk', sans-serif;
}

.faq-outer.active .faq-description {
	display: block;
}

/* Visit Styling */
#visit-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 5rem;
	background-color: var(--black);
}

#visit-container h2 {
	font-size: 2.5rem;
	color: var(--cream);
	font-family: 'BattleLines', sans-serif;
}

.addresses {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin: 3rem 0rem;
}

.addresses > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.addresses h3 {
	font-size: 2rem;
	color: var(--cream);
	font-family: 'BattleLines', sans-serif;
	margin-bottom: 1.25rem;
}

.addresses span {
	font-size: 1rem;
	color: var(--cream);
	font-family: 'Grotesk', sans-serif;
	margin-bottom: 0.5rem;
}

.reservations {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reservations h3 {
	font-size: 1rem;
	color: var(--cream);
	font-family: 'Grotesk', sans-serif;
	margin-bottom: 1.25rem;
}

.reservations span {
	font-size: 1rem;
	color: var(--cream);
	font-family: 'Grotesk', sans-serif;
	margin-bottom: 0.75rem;
}

/* Footer Styling */
footer {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 50vh;
	padding: 0rem 2rem 2rem 2rem;
	background-color: var(--orange);
	z-index: -1;
}

footer a {
	font-size: 0.75rem;
	color: var(--cream);
	font-family: 'Grotesk', sans-serif;
	margin-bottom: 1rem;
	cursor: pointer;
}

footer span {
	font-size: 0.75rem;
	color: var(--cream);
	font-family: 'Grotesk', sans-serif;
}

/* Menu Container */
#menu-container {
	position: absolute;
	top: -110vh;
	left: 0;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100vh;
	background-color: var(--brown);
	transition: all 750ms ease-in-out;
	z-index: 2;
}

#menu-container.active {
	position: fixed;
	top: 0;
	left: 0;
	transition: all 750ms ease-in-out;
}

.inner-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80vw;
	height: 70vh;
	border: 1px solid red;
}

.menu-title {

}

.menu-title h2 {
	font-size: 3rem;
	color: var(--cream);
	font-family: 'BattleLines', sans-serif;
}

.menu-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.menu-nav span {
	font-size: 1.25rem;
	color: var(--cream);
	text-transform: uppercase;
	font-family: 'Grotesk', sans-serif;
}

/* Links Underline Styling */
.fade-underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.fade-underline:after {
  display: block;
  content: '';
  border-bottom: 1px solid var(--cream);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%
}

.fade-underline:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
